html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

div {
    box-sizing: border-box;
}

.container {
    height: auto;
    position: relative;
    display: flex;
    max-width: 100%;
    padding: 0;
}

.sidebar {
    width: 20%;
    background: #005eb8;
    position: fixed;
    height: 100%;
}

.null-sidebar {
    width: 20%;
}

.button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: start;
}

.logo {
    height: 70px;
    margin: 20px;
}

.button:hover,
button:active {
    color: rgb(161, 161, 161);
}

.item {
    color: white;
    padding: 20px;
    display: flex;
    margin: 20%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

.mainpage {
    height: max-content;
    width: 100%;
    flex: 1;
    background: rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
}

.content {
    background: rgb(206, 206, 206);
    padding: 1rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.cHeader {
    background: yellow;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.cHeaderTitle {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: orange;
}

.cHeaderTitle>div {
    background: white;
    padding: 1rem;
}

.cHeaderImg {
    padding: 1rem;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cBody {
    background: white;
    padding: 1rem;
    flex: 1;
    height: auto;
}

.preview{
    position: absolute;
    background: blue;
    width: 60%;
    height: 80%;
    left: 25%;
    top: 10%;
}

